<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="layouts/layout.html :: header">

</head>
<body>

<div th:insert="layouts/layout.html :: navbar">
</div>

<div class="container mt-3">
    <div class="bg-dark text-secondary px-4 py-5 text-center shadow">
        <div class="py-5">
            <img th:src="@{../img/imgp.PNG}" class="mt-2 img-fluid rounded-circle"
                 style="max-width: 10rem; height: 10rem;" alt="Test Image">
            <h3 class="display-5 fw-bold text-white" th:text="|${user.firstName} ${user.lastName}|"></h3>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">
                <h4 th:text="|Username: @${user.username}|"></h4>
                <h4 th:text="| Email: ${user.email}|"></h4>
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <p class="mt-2">
        <button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard"
                aria-expanded="false" aria-controls="collapseCard">
            Create Post
        </button>
    </p>
    <div class="collapse" id="collapseCard">
        <div class="card card-body shadow p-3 mb-5 bg-body rounded">
            <form th:action="@{/user/posted}" th:object="${post_form}" method="post">

                <button type="reset" class="btn btn-outline-warning btn-sm mb-2">Clear Form</button>

                <div class="mb-3">
                    <label for="titleInput" class="form-label">Category</label>
                    <select class="form-select" th:field="*{category}" required>
                        <th:block th:each="cat: ${categories}">
                            <option th:value="${cat.id}" th:text="${cat.name}"/>
                        </th:block>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="titleInput" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titleInput" placeholder="enter title"
                           th:field="*{title}" required>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>

                <div class="mb-3">
                    <label for="bodyInput" class="form-label">Description</label>
                    <textarea class="form-control" id="bodyInput" rows="3" th:field="*{description}"></textarea>
                </div>

                <div class="mb-3">
                    <label for="fileImage" class="form-label">Picture</label>
                    <input type="text" class="form-control" id="fileImage" placeholder="enter title"
                           th:field="*{picture}">
                </div>


                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark">Post</button>
                </div>
            </form>
        </div>
    </div>

    <th:block th:each="post: ${posts}">
        <div class="card card-body shadow p-3 mb-3 bg-body rounded">
            <h2 th:text="${post.title}"></h2>
            <a href="#" class="smart-link">
                <h6 th:text="|@${post.user.username}|"></h6>
            </a>
            <div class="input-group">
                <span>Category: </span>
                <a th:href="@{'/user/allpost/category/' + ${post.category.id}}" class="smart-link">
                    <p th:text="|_  ${post.category.name}|"></p>
                </a>
            </div>
            <p th:text="${post.description}"></p>
            <p class="mt-1" th:text="${post.picture}">IMAGE</p>
            <div class="row">
                <div class="col-10"></div>
                <div class="col">
                    <i><p th:text="|Time: ${post.time}|" class="text-muted"></p></i>
                </div>
            </div>
            <a th:href="|@{/user/single_post}/${post.id}|" class="btn btn-outline-dark" style="width: 10rem;">View/Comment</a>
        </div>
    </th:block>

</div>


<div th:insert="layouts/layout.html :: footer"></div>

<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>