<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="layouts/layout.html :: header">
</head>
<body>

<div th:insert="layouts/layout.html :: navbar">
</div>

<div class="container">

    <div class="mt-3 card card-body shadow p-3 mb-3 bg-body rounded">
        <h2 th:text="${singlePost.title}"></h2>

        <a th:href="@{'/user/profile/' + ${singlePost.user.username}}" class="smart-link">
            <h5 th:text="|@${singlePost.user.username}|"></h5>
        </a>

        <div class="input-group">
            <span>Category: </span>
            <a th:href="@{'/user/allpost/category/' + ${singlePost.category.id}}" class="smart-link">
                <p th:text="|_  ${singlePost.category.name}|"></p>
            </a>
        </div>

        <div class="mt-2"></div>

        <div th:if="${singlePost.picture} != null">
            <img th:src="@{'../../PostPicture/'+${singlePost.id}+'/'+${singlePost.picture}}" class="img-fluid"
                 th:alt="${singlePost.title}" style="width: 40%;">
        </div>

        <div class="row">
            <div class="col-10"></div>
            <div class="col">
                <i><p th:text="|Time: ${singlePost.time}|" class="text-muted"></p></i>
            </div>
        </div>

    </div>

    <div class="card card-body shadow p-3 mb-3 bg-body rounded">

        <p th:text="${singlePost.description}"></p>

        <div class="row" th:if="${singlePost.user.id} == ${mainUserId}">
            <div class="col-5"></div>
            <div class="col-5"></div>
            <div class="col">
                <p class="mt-2">
                    <a class="btn btn-sm btn-outline-warning"
                       th:href="@{'/user/single_post/edit/' + ${singlePost.id}}"
                    >Edit</a>

                    <button class="btn btn-sm btn-warning" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsePost"
                            aria-expanded="false" aria-controls="collapsePost">
                        Delete
                    </button>
                </p>
                <div class="collapse" id="collapsePost">
                    <a type="submit" class="btn btn-sm btn-danger"
                       th:href="@{'/user/single_post/' + ${singlePost.id} + '/delete'}">YES</a>
                    <button type="button" class="btn btn-sm btn-success" data-bs-toggle="collapse"
                            data-bs-target="#collapsePost"
                            aria-expanded="false" aria-controls="collapsePost">
                        NO
                    </button>
                </div>

            </div>
        </div>

        <hr>

        <div class="mt-2 p-2">
            <h4>Add Comments</h4>
            <form th:action="|@{/user/post/comment}/${singlePost.id}|" th:object="${comment_form}" method="post">
                <textarea class="form-control" rows="2" th:field="*{commentName}"></textarea>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('commentName')}"
                     th:errors="*{commentName}"></div>
                <br>
                <button class="btn btn-outline-primary" type="submit">Comment</button>
            </form>
            <br>

            <th:block th:each="comment: ${comments}">
                <div class="p-3 mb-2 rounded-3" style="background-color: #2E6464; color: white;">
                    <a href="#" class="smart-link-cmt">
                        <h4 th:text="|@${comment.user.username}|"></h4>
                    </a>
                    <p th:text="${comment.commentName}"></p>
                    <div class="row">
                        <div class="col-5">
                            <i><p th:text="|Time: ${comment.time}|"></p></i>
                        </div>
                        <div class="col-5"></div>
                        <div class="col" th:if="${comment.user.id} == ${mainUserId}">
                            <p class="mt-2">
                                <button class="btn btn-sm btn-warning" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseCard"
                                        aria-expanded="false" aria-controls="collapseCard">
                                    Delete
                                </button>
                            </p>
                            <div class="collapse" id="collapseCard">
                                <a type="submit" class="btn btn-sm btn-danger"
                                   th:href="@{'/user/single_post/' + ${singlePost.id} + '/comment/' + ${comment.id} + '/delete'}">YES</a>
                                <button type="button" class="btn btn-sm btn-success" data-bs-toggle="collapse"
                                        data-bs-target="#collapseCard"
                                        aria-expanded="false" aria-controls="collapseCard">
                                    NO
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </th:block>


        </div>

    </div>


</div>

</div>


<div th:insert="layouts/layout.html :: footer"></div>

<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>